body {
    background-color: whitesmoke;
    font-family: sans-serif;
    font-style: normal;
    font-size: 12pt;
    text-align: center;
    color: indigo;
}

h1 {
    color: orchid;
    border: 1px solid gray;
    background-color: white;
    font-family: serif;
    font-weight: bold;
    font-size: 200%;
    text-align: center;
}

li {
    color: mediumorchid;
}

a {
    color: gray;
}
