body {
    background-color: whitesmoke;
    border: solid 3px gray;
    font-family: sans-serif;
    font-style: normal;
    font-size: 12pt;
    text-align: center;
    color: indigo;
}

h1 {
    color: orchid;
    border: dashed 1px gray;
    padding: 10px;
    margin: 50px;
    background-color: white;
    font-family: serif;
    font-weight: bold;
    font-size: 200%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
}

li {
    color: mediumorchid;
}

ul {
    text-align: center;
    list-style-position: inside;
}

a {
    color: gray;
}
