body {
    background-color: whitesmoke;
    font-family: serif;
    font-style: normal;
    font-size: 12pt;
    text-align: center;
    color: black;
    background-color: gray;
    border: dashed 1px black;
    padding: 10px;
    margin: 50px;
}

h1 {
    color: red;
    border: 1px solid gray;
    background-color: white;
    font-family: serif;
    font-weight: bold;
    font-size: 200%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    padding: 10px;
    margin: 50px;
}

li {
    color: orangered;
}

ul {
    text-align: center;
    list-style-position: inside;
}

a {
    color: black;
}

header {
    border: solid 3px red;
    background-color: lightblue;
}

footer {
    border: solid 3px red;
    background-color: lightblue;
}

main {
    border: solid 3px red;
    background-color: white;
}
